<div class="relative bg-black pt-0 pb-0 px-0 sm:px-0 lg:pt-0 lg:pb-0 lg:px-0 h-full">
    <div class="z-0 header w-full relative h-64">
        <img src="/images/eSports.jpg" alt="" class="object-cover h-60 w-full">
        <div class="overlay absolute top-0 left-0 bottom-0 right-0 dark-gradient"
            style="background: linear-gradient(rgba(17,18,23,0),#000);">
        
            <div class="w-full p-10">
                <div class="grid grid-cols-3 gap-4">
                    <a href="<%= join_challenge_path(@game.id, 1, 'individual')%>">
                        <img src="/images/1v1.jpg" alt="" class="h-40 w-full rounded-lg border-4 object-cover">
                    </a>
                    <a href="<%= join_challenge_path(@game.id, 3, 'individual')%>">
                        <img src="/images/3v3.jpg" alt="" class="h-40 w-full rounded-lg border-4 object-cover">
                    </a>
                    <a href="<%= join_challenge_path(@game.id, 5, 'individual')%>">
                        <img src="/images/5v5.jpg" alt="" class="h-40 w-full rounded-lg border-4 object-cover">
                    </a>
                </div>
                <h2 class="text-white font-bold text-1xl mb-2 lg:col-span-2">My Challenges</h2>
                <div class="grid grid-cols-3 gap-4">
                <% @challenges.each do |challenge| %>
                    <%= link_to show_challenge_path(@game, challenge) do %>
                        <% if challenge.slots_per_team == 1 %>
                            <img src="/images/1v1.jpg" alt="" class="h-36 w-full rounded-lg border-4 object-cover">
                        <%elsif challenge.slots_per_team == 3 %>
                            <img src="/images/3v3.jpg" alt="" class="h-36 w-full rounded-lg border-4 object-cover">
                        <% else %>
                            <img src="/images/5v5.jpg" alt="" class="h-36 w-full rounded-lg border-4 object-cover">
                        <% end %>
                    <%end%>
                <% end %>
                </div>  
            </div>

            
        </div>
    </div>
</div>