<div class="bg-black text-white py-5 px-10">

    <%= render "team/rosters/partials/tab" %>

</div>

<div class="bg-black text-white py-5 px-10">

    <%= render "team/rosters/partials/members" %>

</div>