<%= javascript_pack_tag "brackets-viewer", 'data-turbolinks-track': "reload" %>
<div id="brackets-tournament" class="brackets-viewer" data-module="brackets" data-id="<%= @tournament.id %>">
    <noscript>Oops! Something went wrong.</noscript>
</div>