<div class="bg-black text-white py-5 px-10">
    <%= render "team/partials/tab" %>
</div>

<div class="bg-black text-white py-5 px-10">

    <% if (@team.owner_id == current_user.id) %>
    <%= render "team/partials/requests" %>
    <% end %>

</div>