<!-- Featured Tournaments -->

<div class="md:flex md:items-center md:justify-between">
    <div class="flex-1 min-w-0">
        <h2 class="text-1xl font-bold leading-7 text-gray-400 sm:text-2xl sm:leading-9 sm:truncate mt-10">
            Featured Tournaments
        </h2>
    </div>
</div>

<div class="mt-5 grid gap-5 max-w-lg mx-auto lg:grid-cols-4 lg:max-w-none pb-10">
    <% @ongoing_tournaments.each do |tournament| %>
        <%= render "pages/partials/tournament_card", tournament: tournament %>
    <% end %>
</div>

<!-- Game Types Call to action -->
<div class="relative w-full grid grid-cols-4 gap-10">
    <div class="col-span-1 text-white border border-gray-800 rounded-lg p-10">
        <h3 class="font-bold text-3xl">
            It's happening Next
        </h3>
    </div>

    <div class="col-span-1 text-white border border-gray-800 rounded-lg p-10 text-center">
        <div class="text-center mb-4 mx-auto">
            <img class="h-32 mx-auto" src="/images/icons/clash.svg" alt="" />
        </div>
        <h3 class="text-gray-600 uppercase font-bold text-1xl">
            Search and Destroy
        </h3>
        <p class="text-gray-300 uppercase font-thin text-xs">
            Next game in 09:32:12
        </p>

        <span class="inline-flex mt-2">
            <button type="button"
                class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-full text-white bg-teal-600 hover:bg-teal-500 focus:outline-none focus:border-teal-700 focus:shadow-outline-teal active:bg-teal-700 transition ease-in-out duration-150 uppercase">
                Join this Game
            </button>
        </span>
    </div>

    <div class="col-span-1 text-white border border-gray-800 rounded-lg p-10 text-center">
        <div class="text-center mb-4 mx-auto">
            <img class="h-32 mx-auto" src="/images/icons/wingmen.svg" alt="" />
        </div>
        <h3 class="text-gray-600 uppercase font-bold text-1xl">
            Search and Destroy
        </h3>
        <p class="text-gray-300 uppercase font-thin text-xs">
            Next game in 09:32:12
        </p>

        <span class="inline-flex mt-2">
            <button type="button"
                class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-full text-white bg-teal-600 hover:bg-teal-500 focus:outline-none focus:border-teal-700 focus:shadow-outline-teal active:bg-teal-700 transition ease-in-out duration-150 uppercase">
                Join this Game
            </button>
        </span>
    </div>

    <div class="col-span-1 text-white border border-gray-800 rounded-lg p-10 text-center">
        <div class="text-center mb-4 mx-auto">
            <img class="h-32 mx-auto" src="/images/icons/bomb.svg" alt="" />
        </div>
        <h3 class="text-gray-600 uppercase font-bold text-1xl">
            Search and Destroy
        </h3>
        <p class="text-gray-300 uppercase font-thin text-xs">
            Next game in 09:32:12
        </p>

        <span class="inline-flex mt-2">
            <button type="button"
                class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-full text-white bg-teal-600 hover:bg-teal-500 focus:outline-none focus:border-teal-700 focus:shadow-outline-teal active:bg-teal-700 transition ease-in-out duration-150 uppercase">
                Join this Game
            </button>
        </span>
    </div>
</div>

<!-- Ongoing Tournaments -->

<div class="md:flex md:items-center md:justify-between">
    <div class="flex-1 min-w-0">
        <h2 class="text-1xl font-bold leading-7 text-gray-400 sm:text-2xl sm:leading-9 sm:truncate mt-10">
            Ongoing Tournaments
        </h2>
    </div>
</div>

<div class="mt-5 grid gap-5 max-w-lg mx-auto lg:grid-cols-4 lg:max-w-none pb-10">
    <div class="flex flex-col overflow-hidden transform hover:scale-110 transition duration-150 ease-in-out"
        v-for="n in 12" v-bind:key="n">
        <div class="flex-shrink-0 rounded-lg shadow-lg overflow-hidden">
            <img class="h-34 w-full object-cover"
                src="https://dmarket.com/blog/best-dota2-wallpapers/roshan3_hu855bbe0a9c47ac557e5b09db74fa3b06_304916_1920x1080_resize_q75_lanczos.jpg"
                alt="" />
        </div>

        <time class="uppercase text-xs text-gray-500 font-bold mt-1">
            Today 18:30
        </time>

        <h3 class="uppercase text-sm text-gray-800 font-bold mb-0">
            Tournament Name
            <span
                class="inline-flex items-center px-3 py-0.5 rounded-full text-xs font-medium leading-5 bg-purple-800 text-purple-100">
                16 Slots
            </span>
        </h3>

        <p class="uppercase text-xs text-gray-500 font-bold">
            EU &bull; 1v1
        </p>
    </div>
</div>